@model List<Ensemble_Elegance.Models.ProductModel>;
@using System.Text.Json;

<link rel="stylesheet" href="/css/ItemList.css" />
<script src="/js/ItemList.js"></script>
<a href="addnewitem">Add</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title Image
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    <img src="/images/@item.Id/@item.ImageFileName" class="card-img" />
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <div class="product-description">@item.Description</div>
                </td>
                <td>
                    @item.Price
                </td>


               <td>
                    @{
                        List<string> categories = JsonSerializer.Deserialize<List<string>>(item.CategoriesJson);
                    }
                    @string.Join(", ", categories)
               </td>
                <td class="delete-button">
                <a href="updateitem?id=@item.Id">Edit</a>
                <a href="#" onclick="showConfirmation(@item.Id)">
                    <span id="deleteBtn_@item.Id" class="delete">Delete</span>
                </a>
                <button id="confirmBtn_@item.Id" style="display: none;" onclick="confirmDelete(@item.Id)">Confirm</button>
                <button id="cancelBtn_@item.Id" style="display: none;" onclick="cancelDelete(@item.Id)">Cancel</button>
            </td>
            </tr>
        }
    </tbody>
</table>






