@model List<CartProductModel>

<head>
    <link rel="stylesheet" href="/css/Cart.css" />
</head>

<body>
    @if (Model.Count == 0)
    {
        <div class="empty-cart-text">
            Ваш кошик порожній. <a href="/Home/Catalogue">Додати</a>
        </div>
    }
    else
    {
        <table class="table">
            <tbody>
                @{
                    double Asum = 0;
                }
                @foreach (var product in Model)
                {
                    <tr>
                        <td class="product-image-cell"><img class="product-image" src="/images/@product.productModel.Id/@product.productModel.ImageFileName" /></td>
                        <td class="product-name-cell">@product.productModel.Name</td>
                        <td class="product-price-cell" id="priceCell-@product.productModel.Id">@product.productModel.Price$</td>
                        <td class="product-quantity-cell">
                            <div class="quantity-container">
                                <button class="plus-minus-button" type="button" onclick="decrementQuantity(@product.productModel.Id)">-</button>
                                <input id="quantityInput-@product.productModel.Id" type="text" class="quantity" value="@product.Quantity" />
                                <button class="plus-minus-button" type="button" onclick="incrementQuantity(@product.productModel.Id)">
                                    +
                                </button>
                            </div>
                        </td>
                        @{
                            double sum = product.productModel.Price * product.Quantity;
                            Asum += sum;
                        }
                        <td class="product-sum-cell" id ="sumCell-@product.productModel.Id">@sum$</td>
                    </tr>
                }
                <tr class="total">
                    <th colspan="3"></th>
                    <th>Total:</th>
                    <td id="total">@Asum$</td>
                </tr>
                <tr>
                    <form action="/Cart/PushOrder" method="get" onkeydown="return event.key != 'Enter';">
                    <td colspan="5"><button type="submit">Відправити замовлення</button></td>
                    </form>
                </tr>
            </tbody>
        </table>
    }
    <script src="/js/Cart.js"></script>
</body>

